<div class="container mt-3">
  <div class="jumbotron border border-dark pt-3">
    <div class="row">
      {{!-- {{#each Article}} --}}
      <div class="col-12">
        <div class="card mb-2 p-3 border-dark">
          <a href="{{Article.link}}" class="text-info border-bottom mb-1 pb-1" target="_blank"><h5 class="mb-0">{{Article.title}}</h5></a>
          <p class="mb-0"><i>{{Article.summary}}</i></p>
        </div>
        <div class="card p-3 mb-3">
          <textarea class="w-100 mb-3" type="text" id="commentInput" placeholder="Type Your Comment Here..."></textarea>
          <button class="btn btn-outline-danger" id="addNewCommentBtn" data-id={{Article._id}}>Submit Comment</button>
        </div>
        {{#each Article.comment}}
          <div class="card p-3 mb-1"> 
            <p class='text-dark'><small><i>"{{body}}"</i></small></p>
            <button class="btn btn-danger removeCommentBtn" data-id={{_id}}>DeleteComment</button>

          </div>
          {{/each}}

      </div>
      {{!-- {{/each}} --}}
    </div>

  </div>
</div>

<script>

  $("#addNewCommentBtn").on("click", function(){
    var ArticleID={ 
      _id: $(this).data("id"),
      body: $("#commentInput").val().trim()
    }
    $.ajax('/api/addComment',{
      method: "POST",
      data: ArticleID
    }).then(function(data){
      console.log(data)
    })
    location.reload()
  })


  $(".removeCommentBtn").on("click", function(){
    console.log('/api/comment/' + $(this).data("id"))
    $.ajax('/api/comment/' + $(this).data("id"),{
      method: "DELETE",
      data: 'Deleted'
    }).then(function(data){
      console.log(data)
    })
    location.reload()
  })


</script>