<div class="container mt-3">
  <div class="jumbotron border border-dark pt-3">
    <h3><span class="text-primary">{{Articles.length}}</span> Saved Articles Found</h3>
    <div class="row">
      {{#each Articles}}

      <div class="col-12">
        <div class="card mb-2 border-dark bg-warning">
          <div class="card-body">

          
            <a href="{{link}}" class="bg-light text-primary border-bottom mb-1 pb-1" target="_blank"><h5 class="mb-0 bg-light border border-dark p-1"><b><span class="text-dark">{{@index}}. </span>{{title}}</b></h5></a>
            <p class="mb-0"><i>{{summary}}</i></p>
            <p class="mb-0 text-center"><small>{{comment.length}} Comments</small></p>
            <div class="d-flex justify-content-center">
              <a href="article/Comments/{{_id}}"><button class="btn btn-success mr-1">Comments</button></a>
              <button class="btn btn-danger deleteArticleBtn" data-id={{_id}}>Unsave</button>              
            </div>

          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</div>

<script>

  $('.deleteArticleBtn').on('click', function(){
    var ArticleID={ _id: $(this).data("id")}
    console.log(ArticleID)

    $.ajax("/api/savedArticles", {
      type: "DELETE",
      data: ArticleID
    }).then(function(res){
      console.log(res);
      location.reload();
    })
  })
</script>